  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

/* theme */

:root {
  --color-primary: #74d3ae;
  --color-secondary: #a6c48a;
  --color-highlight: #fff;
  --color-danger: #b80c09;
  --color-light: #f6e7cb;
  --color-sucess: #98CE00 ;


  /* Dark shades */
  --color-shade: #556;
  --color-darkish: #223;
  --color-dark: #112;
  --color-darkest: #001;
}


.gradient {
  background: --webkit-linear-gradient(
    bottom,
    var(--color-highlight),
    var(--color-primary)
  );
}

.gradient .text{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient .alternate{
  background: --webkit-linear-gradient(
    bottom,
    var(--color-danger),
    var(--color-secondary)
  );

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body{
font-size: 2rem;
background-color: var(--color-dark);
color: var(--color-light);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100svh;
  width: 100%;

}

.title{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-light);
  text-shadow: 3px 3px var(--color-primary);
}

.headline{
  font-size: 1.5rem;
  line-height: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: var(--color-primary);
}

.loading{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-primary);
  animation: bouncy 1s infinite;
}


@keyframes bouncy{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-0.5rem) ;
  }
  100%{
    transform: translateX(0);
  }
}



